<header>
  <div class="logo">RTRW</div>
  <div class="nav" aria-label="Navigation">
    <ul>
      <li>
        <a routerLink="/products">Products</a>
      </li>
      <li>
        <a routerLink="/services">Services</a>
      </li>
      <li>
        <a routerLink="/blog">Blog</a>
      </li>
      <li>
        <a routerLink="/resources">Resources</a>
      </li>
    </ul>
  </div>
  <div class="user-tools">
    <ul>
      <li>
        <a routerLink="/search">
          <i class="material-icons">search</i>
        </a>
      </li>
      <li>
        <a routerLink="/login">
          <i class="material-icons">person</i>
        </a>
      </li>
      <li>
        <a routerLink="/">
          <i class="material-icons">home</i>
        </a>
      </li>
    </ul>
  </div>
</header>
