<header>
  <div class="logo">RTRW</div>
  <div class="nav" aria-label="Navigation">
    <ul>
      <li>
        <a routerLink="/products">Products</a>
      </li>
      <li>
        <a routerLink="/services">Services</a>
      </li>
      <li>
        <a routerLink="/blog">Blog</a>
      </li>
      <li>
        <a routerLink="/resources">Resources</a>
      </li>
    </ul>
  </div>
  <div class="user-tools">
    <ul>
      <li>
        <a routerLink="/search">Search</a>
      </li>
      <li>
        <a routerLink="/login">Login</a>
      </li>
      <li>
        <a routerLink="/">Home</a>
      </li>
    </ul>
  </div>
</header>