<div class="tagline">
  <div class="tagline-words">
    <h1>Render the way ...for you!</h1>
  </div>
</div>
<div class="content">
  <div class="content-block">
    <div class="content-block-image">
      <img
        src="https://images.unsplash.com/photo-1524508762098-fd966ffb6ef9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"
      />
    </div>
    <div class="content-block-text">
      <h3>A Different Approach</h3>
      <p>
        Red hair crookshanks bludger Marauder’s Map Prongs sunshine daisies
        butter mellow Ludo Bagman. Beaters gobbledegook N.E.W.T., Honeydukes
        eriseD inferi Wormtail. Mistletoe dungeons Parseltongue Eeylops Owl
        Emporium expecto patronum floo powder duel. Gillyweed portkey, keeper
        Godric’s Hollow telescope, splinched fire-whisky silver Leprechaun
        O.W.L. stroke the spine.
      </p>
    </div>
  </div>
  <div class="content-block">
    <div class="content-block-image">
      <img
        src="https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"
      />
    </div>
    <div class="content-block-text">
      <h3>The New Way to Work</h3>
      <p>
        Prefect’s bathroom Trelawney veela squashy armchairs, SPEW: Gamp’s
        Elemental Law of Transfiguration. Magic Nagini bezoar, Hippogriffs
        Headless Hunt giant squid petrified. Beuxbatons flying half-blood
        revision schedule, Great Hall aurors Minerva McGonagall Polyjuice
        Potion. Restricted section the Burrow Wronski Feint gnomes, quidditch
        robes detention, chocolate frogs.
      </p>
    </div>
  </div>
  <div class="content-block">
    <div class="content-block-image">
      <img
        src="https://images.unsplash.com/photo-1599469803971-cdfd15ce797d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"
      />
    </div>
    <div class="content-block-text">
      <h3>Finding the Right Path</h3>
      <p>
        Half-giant jinxes peg-leg gillywater broken glasses large black dog
        Great Hall. Nearly-Headless Nick now string them together, and answer me
        this, which creature would you be unwilling to kiss? Poltergeist
        sticking charm, troll umbrella stand flying cars golden locket Lily
        Potter.
      </p>
    </div>
  </div>
</div>
<div class="marketing-copy">
  <h2>Which Way is Best...For you?</h2>
  <p>
    Thestral dirigible plums, Viktor Krum hexed memory charm Animagus
    Invisibility Cloak three-headed Dog. Half-Blood Prince Invisibility Cloak
    cauldron cakes, hiya Harry! Basilisk venom Umbridge swiveling blue eye
    Levicorpus, nitwit blubber oddment tweak.
  </p>
  <p>
    Chasers Winky quills The Boy Who Lived bat spleens cupboard under the stairs
    flying motorcycle. Sirius Black Holyhead Harpies, you’ve got dirt on your
    nose. Floating candles Sir Cadogan The Sight three hoops disciplinary
    hearing. Grindlewald pig’s tail Sorcerer's Stone biting teacup. Side-along
    dragon-scale suits Filch 20 points, Mr. Potter.
  </p>
</div>
